{% include '../../shared/header.njk' %}

<h1>GROUPS BY COLOR</h1>

<div>

<div orange-group></div>

<div crimson-group></div>

<div khaki-group></div>

<div pink-group></div>

<div aquamarine-group></div>

<div turquoise-group></div>

<div yellow-group></div>

<div goldenrod-group></div>

<div fuscia-group></div>

<div puce-group></div>

<div maroon-group></div>

<div purple-group></div>

</div>